# Requirements
Flask==2.1.0
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.25
psycopg2-binary>=2.8.1
alembic>=1.5.1
six>=1.15.0
python-dateutil

# Testing & documentation requirements (note these must be installable across all Tox environment)
pytest>=3.0.7
pytest-cov==2.4.0
Flask-Security-Fork==2.0.1
Flask-WTF==1.0.1
Werkzeug==2.0.0
sphinx==1.5.5
sphinx-autobuild==0.6.0
Flask-Sphinx-Themes==1.0.1
bcrypt==3.1.4
email_validator>=1.1.0
enum34>=1.1.10
